body {
    text-align: center;
    padding-bottom: 50px;
}
.School Church p{
      font-size: 24px;
}
.lib h4 {
    margin-top: 30px;
}
#aboutme {
    margin-top: 1000px;
}
#aboutme h2{
    margin-bottom: 10px;
}